*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: wheat;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 98vw;;
    
}
#inputsection{
    
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 40vh;
    width: 80vw;
    margin-top: -10rem;
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: 1rem 1rem 4rem 1rem rgba(19, 182, 227, 0.854);
}
#inputsection input{
    height: 8vh;
    width: 50vw;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 2px;
    font-size: 1.2rem;
}
#inputsection button{
    height: 2rem;
    width: 20vw;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
#infomationsection{
    border-radius: 2rem;
    height: 450vh;
    display: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 10rem;
    box-shadow: 1rem 1rem 4rem 1rem rgba(19, 182, 227, 0.854);
    
}
#infomationsection #userimage img{
 
    border-radius: 50%;
    height: 45vh;
    width: 20vw;
    margin: 1rem;
}
#infomationsection p{

    padding: 10px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: 1px 1px 20px 1px rgba(19, 182, 227, 0.854);
    
}

